# Ignore bundler config.
.bundle/

# Ignore the default SQLite database.
spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log/*
!/log/.keep
spec/test_app/tmp

spec/test_app/.sass-cache

pkg/

# Ignore SimpleCov
coverage/

# Ignore built gems
*.gem
