<!DOCTYPE html>
<html>
<head>
  <title>Sso</title>
  <%= stylesheet_link_tag    "sso/application", media: "all" %>
  <%= javascript_include_tag "sso/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
